/* CSS atualizado */

.Geral {
    padding-top: 5rem;
    display: flex;
    background-color: gray;
    min-height: 100vh;
}

.Container {
    display: flex;
    flex-direction: column;
    /* background-color: var(--purple-300); */
    background-color: white;
    /* justify-content: center; */
    max-width: 100rem;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0.1875rem 0.5rem;
    /* 3px = 0.1875rem */
    margin: auto;
    /* height: 60rem; */
    min-height: 80vh;
    min-width: 85vh;
}

.Titulo {
    /* color: white; */
    margin: 1rem;
    font-size: 4rem;
    font-weight: bold;
    margin-top: 0.5rem;
    color: var(--purpleMain);
}

.containerContent {
    display: grid;
    gap: 2rem;
    width: 100%;
    grid-template-columns: 1fr;
    /* Todos os itens em uma única coluna */
}

.ContainerDivs {
    display: flex;
    /* Para que ícones e texto fiquem alinhados */
    align-items: center;
    /* Centraliza verticalmente */
    /* background-color: var(--purpleMain); */
    background-color: rgb(236, 231, 231);
    /* background-color: gray; */
    box-shadow: 0 0 0.125rem 0.1875rem var(--purple-300);
    /* 2px = 0.125rem, 3px = 0.1875rem */
    /* color: white; */
    border-radius: 1rem;
    gap: 1rem;
    padding: 1rem;
    transition: all 0.15s ease-in-out;
    overflow: hidden;
    min-width: 80rem;
    width: 100%;
}

.ContainerDivs:hover {
    transform: scale(1.02);
}

.IconeContainer {
    display: flex;
    /* Para que o ícone e texto fiquem alinhados */
    align-items: center;
    /* Centraliza verticalmente */
}

.ContainerLabel {
    flex-grow: 1;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 7rem;
}

.ContainerLabel label {
    display: block;
    text-transform: uppercase;
}

.labelTitle {
    font-size: 1.4rem;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.MensagemErro {
    color: red;
    font-weight: bold;
    margin-top: 0.2rem;
}

.Vazio {
    background-color: rgb(236, 231, 231);
    /* color: white; */
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    min-width: 80rem;
}

.labelData {
    font-size: 1.1rem;
    margin-top: 1rem;
    white-space: nowrap;
}

.Icones {
    display: flex;
    gap: 0.8rem;
    justify-content: flex-end;
    align-items: center;
}

.menuLateral {
    width: 15.625rem;
    /* 250px = 15.625rem */
    background-color: var(--purple-300);
    padding: 2rem;
    box-shadow: 0.125rem 0 0.3125rem rgba(0, 0, 0, 0.1);
    /* 2px = 0.125rem, 5px = 0.3125rem */
    display: flex;
    flex-direction: column;
    height: calc(100vh - 5rem);
    /* 80px = 5rem */
    position: fixed;
    left: 0;
    top: 5rem;
    /* 80px = 5rem */
}

/* Estilização do Filtro de Evento */

.FiltroDataContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    background-color: var(--purple-300);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0.1875rem 0.5rem;
    /* 3px = 0.1875rem */
    transition: all 0.15s ease-in-out;
}

.FiltroDataContainer label {
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.FiltroDataContainer input {
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: var(--purpleMain);
    background-color: white;
    box-shadow: inset 0 0 0.125rem rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.15s ease-in-out;
}

.FiltroDataContainer input:focus {
    box-shadow: 0 0 0.125rem 0.1875rem rgba(0, 0, 0, 0.24);
    /* 2px = 0.125rem, 3px = 0.1875rem */
}

.FiltroDataContainer button {
    background-color: var(--purpleMain);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}

.FiltroDataContainer button:hover {
    background-color: var(--purple-300);
}

.botoesInicio {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
    margin-top: auto;
}

.iconesEditar {
    border: none;
    /* background-color: red; */
    background-color: #4CAF50;
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    border-radius: 0.325rem;
    padding: 1rem 2rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

.iconesEditar:hover {
    transform: scale(1.04);
}

.iconesIniciar {
    border: none;
    /* background-color: red; */
    background-color: #FFD54F;
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    border-radius: 0.325rem;
    padding: 1rem 2rem;
    cursor: pointer;
    margin-bottom: 2rem;
}

.iconesIniciar:hover {
    transform: scale(1.04);
}

@media (max-width: 48rem) {

    /* 768px = 48rem */
    .Container {
        max-width: 90%;
        padding: 1rem;
    }
}

@media (max-width: 30rem) {

    /* 480px = 30rem */
    .Container {
        max-width: 100%;
        padding: 0.5rem;
    }
}

@media (max-width: 48rem) {
    .FiltroDataContainer {
        flex-direction: column;
        padding: 0.8rem;
    }

    .FiltroDataContainer label {
        font-size: 1rem;
    }

    .FiltroDataContainer input,
    .FiltroDataContainer button {
        font-size: 0.9rem;
        width: 100%;
    }
}

@media (max-width: 30rem) {
    .FiltroDataContainer {
        padding: 0.5rem;
    }

    .FiltroDataContainer label {
        font-size: 0.9rem;
    }

    .FiltroDataContainer input,
    .FiltroDataContainer button {
        font-size: 0.8rem;
    }
}


@media (max-width: 48rem) {
    .Titulo {
        font-size: 2.5rem;
    }

    .labelTitle {
        font-size: 1.2rem;
    }

    .labelData {
        font-size: 1rem;
    }
}

@media (max-width: 30rem) {
    .Titulo {
        font-size: 2rem;
    }

    .labelTitle {
        font-size: 1rem;
    }

    .labelData {
        font-size: 0.9rem;
    }




}