.Geral{
    padding-inline: 2rem;
}

.Container{
    display: flex;
    flex-direction: column;
    background-color: #D5BFFF;
    justify-content: center;   
    max-width: 70rem;
    align-items: center;
    border-radius: 1rem;
    margin: 6rem auto 0;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Titulo{
    color: white;
    margin: 1rem;
    font-size: 4rem;
    font-weight: bold;
}

.ContainerDivs{
    display: grid;
    grid-template-columns: 60px 1fr 150px;
    background-color: #8E7AB5;
    box-shadow: 0 0 2px 3px #8E7AB5;
    flex-direction: row;
    color: white;
    border-radius: 1rem;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: all .15s ease-in-out;
    padding-inline: 1rem;
}

.ContainerDivs:hover{
    transform: scale(1.02);
}

.ContainerDivs svg{
    max-width: 5rem;
}

.containerContent{
    display: grid;
    gap: 2rem 0;
    width: 100%;
}

.ContainerLabel{
    font-weight: bold;
    gap: 1rem;
}

.ContainerLabel label{
    display: block;
}

.labelTitle{
    font-size: 1.8rem;
    margin-block-end: .5rem;
}

.labelData{
    font-size: 1.2rem;
}

.Icones{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.ClasseIcone{
    cursor: pointer;
}

.ContainerTeste{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: aquamarine;
}