/* CSS atualizado */

.Geral {
    padding-top: 5rem;
    display: flex;
}

.Container {
    display: flex;
    flex-direction: column;
    background-color: var(--purple-300);
    justify-content: center;
    max-width: 100rem;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0.1875rem 0.5rem; /* 3px = 0.1875rem */
    margin: auto;
}

@media (max-width: 48rem) { /* 768px = 48rem */
    .Container {
        max-width: 90%;
        padding: 1rem;
    }
}

@media (max-width: 30rem) { /* 480px = 30rem */
    .Container {
        max-width: 100%;
        padding: 0.5rem;
    }
}

.Titulo {
    color: white;
    margin: 1rem;
    font-size: 4rem;
    font-weight: bold;
}

.containerContent {
    display: grid; 
    gap: 2rem; 
    width: 100%;
    grid-template-columns: 1fr; /* Todos os itens em uma única coluna */
}

.ContainerDivs {
    display: flex; /* Para que ícones e texto fiquem alinhados */
    align-items: center; /* Centraliza verticalmente */
    background-color: var(--purpleMain);
    box-shadow: 0 0 0.125rem 0.1875rem var(--purple-300); /* 2px = 0.125rem, 3px = 0.1875rem */
    color: white;
    border-radius: 1rem;
    gap: 1rem;
    padding: 1rem;
    transition: all 0.15s ease-in-out;
    overflow: hidden;
    min-width: 80rem;
    width: 100%;
}

.ContainerDivs:hover {
    transform: scale(1.02);
}

.IconeContainer {
    display: flex; /* Para que o ícone e texto fiquem alinhados */
    align-items: center; /* Centraliza verticalmente */
}

.ContainerLabel {
    flex-grow: 1; 
    font-weight: bold;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.ContainerLabel label {
    display: block;
}

.labelTitle {
    font-size: 1.4rem;
    margin: 0; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.labelData {
    font-size: 1.1rem;
    margin-top: 1rem;
    white-space: nowrap;
}

.Icones {
    display: flex;
    gap: 0.8rem;
    justify-content: flex-end;
    align-items: center;
}

.menuLateral {
    width: 15.625rem; /* 250px = 15.625rem */
    background-color: var(--purple-300);
    padding: 2rem;
    box-shadow: 0.125rem 0 0.3125rem rgba(0, 0, 0, 0.1); /* 2px = 0.125rem, 5px = 0.3125rem */
    display: flex;
    flex-direction: column;
    height: calc(100vh - 5rem); /* 80px = 5rem */
    position: fixed;
    left: 0;
    top: 5rem; /* 80px = 5rem */
}

@media (max-width: 48rem) {
    .Titulo {
        font-size: 2.5rem;
    }

    .labelTitle {
        font-size: 1.2rem;
    }

    .labelData {
        font-size: 1rem;
    }
}

@media (max-width: 30rem) {
    .Titulo {
        font-size: 2rem;
    }

    .labelTitle {
        font-size: 1rem;
    }

    .labelData {
        font-size: 0.9rem;
    }
}
