.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.close-button {
  position: absolute;
  top: 10px;
  left: 10px; /* Posiciona o botão "X" no lado esquerdo */
  background: none;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.close-button:hover {
  color: #ff0000;
}

.modal-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.btn-confirm,
.btn-cancel {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-confirm {
  background-color: #0b0b45; /* Azul escuro para o botão confirmar */
  color: white;
}

.btn-cancel {
  background-color: #ccc; /* Cinza para o botão cancelar */
  color: white;
}

.btn-confirm:hover {
  background-color: #4caf50;
}

.btn-cancel:hover {
  background-color: #999;
}

.modal-clock {
  font-size: 18px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.modal-time-picker {
  margin-bottom: 10px;
}

.modal-time-picker label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.modal-time-picker input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
}


