.messageBox{
    margin-block: 2rem;
    margin-inline: auto;
    padding: 1.25rem 1rem;
    background-color: rgba(124, 0, 254, 0.2);
    max-width: 24rem;
    width: 100%;
    border-radius: 1rem;
}

.messageBox h3{
    text-align: center;
}

.messageBox p{
    text-align: center;
}










