.html, .body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o layout ocupe pelo menos 100% da altura da viewport */
  background-color: gray; /* Ajuste a cor conforme necessário */
}

/* Estilo do Header */
.container {
  background-color: white;
  flex: 1; /* Permite que o container cresça para ocupar o espaço disponível */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.6rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0.1875rem 0.5rem; /* 3px = 0.1875rem */
  margin: 1rem auto; /* Ajuste a margem para garantir que o container ocupe todo o espaço disponível */
  height: 100%; /* Garante que o container ocupe toda a altura disponível */
  width: 95vh; /* Define uma largura fixa */
  justify-content: space-between; /* Garante que os itens sejam distribuídos com espaço entre eles */
  position: relative; /* Necessário para posicionar os botões na parte inferior */
}

.participanteNome {
  font-size: 2rem;
}

.header h1 {
  text-align: center;
  color: #694C9F;
  font-size: 2.25rem;
  margin-bottom: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

/* Estilo do checkin */
.header {
  text-align: center;
  color: var(--purpleMain);
  font-size: 3rem;
  margin-bottom: 2rem;
}

.paginacao {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 2rem; /* Adiciona padding para garantir que os botões não saiam da div */
  position: fixed; /* Posiciona a div de paginação na parte inferior */
  bottom: 1rem; /* Ajuste conforme necessário */
}

.numerosPagina {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagina {
  display: flex;
  flex-direction: column; /* Empilha o conteúdo verticalmente */
  align-items: center;
  justify-content: center;
  background-color: var(--purpleButton);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 2rem;
}

.pagina:hover {
  background-color: var(--purpleMain);
}

.paginaAtiva {
  background-color: var(--purpleDark);
  font-weight: bold;
}

.botaoContainer {
  display: flex;
  justify-content: center;
  gap: 1rem; /* Adiciona espaço entre os botões */
  width: 100%;
  padding: 1rem 0; /* Adiciona padding para garantir que os botões não saiam da div */
  margin: 0rem; /* Ajuste a margem conforme necessário */
  position: absolute; /* Posiciona a div de botões na parte inferior */
  bottom: 1rem; /* Ajuste conforme necessário */
  left: 1rem; /* Adiciona margem à esquerda */
}

/* Estilo do cabeçalho */
.checkin h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

/* Estilo da seção de cadastro */
/* .cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  color: white;
  background-color: var(--purpleMain);
  border-radius: 20px;
  padding: 2rem;
  width: 100%;
  text-transform: uppercase;
} */

.cadastro h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: var(--purpleMain);
  margin-top: 10px;
}

.cadastro h3 {
  font-size: 15px;
  margin-bottom: 10px;
  color: white;
}

/* Estilo da lista de participantes */
.listaParticipantes {
  width: 100%; /* Garante que a lista de participantes ocupe toda a largura da div */
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
  text-align: left; /* Alinha a lista de participantes à esquerda */
  font-size: 2rem;
}

.participanteItem {
  display: flex;
  margin-bottom: 1rem;
  background-color: var(--neutral-100);
  width: 100%;
  padding: 1rem .8rem;
  cursor: pointer;
  border-radius: .825rem;
  transition: .2s transform ease-in-out;
  border: 1px solid rgb(216, 216, 216);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: var(--purpleMain);
  text-transform: uppercase;
  text-align: left; /* Alinha o texto dos itens da lista à esquerda */
}

/* Estilo do botão de salvar */
.botaoCadastro {
  padding: 1.5rem 2rem;
  background-color: var(--purpleButton);
  color: white; 
  border: none; 
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.25rem;
}

.botaoCadastro:hover {
  background-color: var(--purpleMain); /* Ajuste a cor conforme necessário */
}

/* Estilo do footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #6c49b8;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}
