.ContainerDivs {
    display: grid;
    align-items: center;
    grid-template-columns: 4rem repeat(3, 1fr) 6rem;
    border-bottom: solid 1px rgb(218, 215, 215);
    padding: 1rem;
}

.ContainerBotaoEditar {
    display: flex;
    justify-content: start;
    gap: 1rem;
    align-items: center;
    grid-column: -1;
}

.ContainerBotaoEditar button:active {
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
}

.ButtonEditar {
    border: none;
    /* background-color: orange; */
    background-color: #FFD54F;
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    border-radius: 0.325rem;
    /* padding: 1rem 1rem; */
    cursor: pointer;
}

.ButtonEditar:active {
    background-color: rgb(199, 132, 8);
}

.ButtonExcluir{
    border: none;
    /* background-color: blue; */
    background-color: #E57373;
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    border-radius: 0.325rem;
    /* padding: 1rem 1rem; */
    cursor: pointer;
  }
  .ButtonExcluir:active{
    background-color: rgb(3, 3, 207);
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro */
    z-index: 1000;
  }
  .modal button:active{
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
  }
  /* Conteúdo do modal */
  .modalContent {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  /* Título do modal */
  .modalContent h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
  }
  
  /* Estilos para os campos de entrada no modal */
  .modalContent input {
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.6rem;
  }
  
  /* Estilos dos botões dentro do modal */
  .modalContent button {
    display: inline-block;
    width: 48%;
    padding: 1rem;
    margin: 0.5rem 1%;
    font-size: 1.6rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Botão "Salvar" ou "Excluir" */
  .modalContent button:first-of-type {
    background-color: #4CAF50; /* Verde */
    color: white;
  }
  
  /* Botão "Cancelar" */
  .modalContent button:last-of-type {
    background-color: #f44336; /* Vermelho */
    color: white;
  }
  
  /* Estilo específico para o texto de confirmação no modal de exclusão */
  .modalContent p {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  
  /* Adicionando transições suaves para o modal */
  .modalContent {
    animation: fadeIn 0.3s ease-in-out;
  }