.ContainerDivs {
    display: grid;
    align-items: center;
    grid-template-columns: 4rem repeat(2, 1fr) 6rem;
    border-bottom: solid 1px rgb(218, 215, 215);
    padding: 1rem;
}

.ContainerBotaoEditar {
    display: flex;
    justify-content: start;
    gap: 1rem;
    align-items: center;
}

.ContainerBotaoEditar button:active {
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
}

.ButtonEditar {
    border: none;
    /* background-color: orange; */
    background-color: #FFD54F;
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    border-radius: 0.325rem;
    /* padding: 1rem 1rem; */
    cursor: pointer;
}

.ButtonEditar:active {
    background-color: rgb(199, 132, 8);
}

.ButtonExcluir{
    border: none;
    /* background-color: blue; */
    background-color: #E57373;
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    border-radius: 0.325rem;
    /* padding: 1rem 1rem; */
    cursor: pointer;
  }
  .ButtonExcluir:active{
    background-color: rgb(3, 3, 207);
  }