.ContainerGeral {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.Container {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  min-width: 60%;
  align-items: center;
  border-radius: 1rem;
  gap: 1rem;
  margin: 2rem;
}
.Container h1 {
  color: white;
  margin: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
}
.ContainerTudo {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: bold;
  min-width: 100rem;
  min-height: auto;
  padding: 0 3rem;
}
.FormDados {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.Titulos {
  text-decoration: underline;
  font-size: 2rem;
}
.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}
.FormDados input {
  min-width: 40rem;
}
.CentralizaDados {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 5rem;
  margin: 3rem 0rem;
  justify-items: center;
}
.CentralizaEndereco {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 5rem;
  margin: 2rem 0rem;
}
.DadosPessoais {
  display: flex;
  flex-direction: column;
}
.DadosEndereco {
  display: flex;
  flex-direction: column;
}
.Container input {
  background-color: rgb(236, 231, 231);
  border-radius: 0.5rem;
  border: none;
  height: 2rem;
  margin: 1rem 0rem;
  padding: 1.5rem;
  /* max-width: 100%; */
}
.Container input:focus {
  outline: none;
}
.ButtonCadastrar {
  border: none;
  /* background-color: green; */
  background-color: #4CAF50;
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  border-radius: 0.325rem;
  padding: 1rem 2rem;
  cursor: pointer;
  margin-bottom: 2rem;
}
.ButtonCadastrar:active{
  background-color: rgb(1, 99, 1);
}
.ButtonEditar{
  border: none;
  /* background-color: orange; */
  background-color: #FFD54F;
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  border-radius: 0.325rem;
  /* padding: 1rem 1rem; */
  cursor: pointer;
}
.ButtonEditar:active{
  background-color: rgb(199, 132, 8);
}
.ButtonExcluir{
  border: none;
  /* background-color: blue; */
  background-color: #E57373;
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  border-radius: 0.325rem;
  /* padding: 1rem 1rem; */
  cursor: pointer;
}
.ButtonExcluir:active{
  background-color: rgb(3, 3, 207);
}
.ButtonCancelar {
  border: none;
  /* background-color: red; */
  background-color: #FF6E6E;
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
  border-radius: 0.325rem;
  padding: 1rem 2rem;
  cursor: pointer;
  margin-bottom: 2rem;
}
.ButtonCancelar:active{
  background-color: rgb(211, 8, 8);
}

.ContainerButton {
  display: flex;
  justify-content: right;
  gap: 1rem;
  padding: 3rem 0rem 0rem;
}

.ContainerButton button:active{
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
}
.Teste {
  display: flex;
  padding: 2rem 0rem;
}
.CorCinza{
  min-width: 100%;
  min-height: 50rem;
  background-color:gray;
  padding-left: 270px;
}
.Novo{
  position: relative;
  padding-top: 2rem;
  border-top: solid 1px rgb(218, 215, 215);  
}

.ContainerDivs, 
.ContainerCabecalho{
  display: grid;
  align-items: center;
  grid-template-columns: 4rem repeat(2, 1fr) 6rem;
  border-bottom: solid 1px rgb(218, 215, 215);
  padding: 1rem;
}
.containerColaborador{
  padding: 0 1rem;
}
.InputIcon{
  position: relative;
  display: flex;
}

.InputIcon input{
  flex: 1;
  background-color: rgb(236, 231, 231);
  border-radius: 0.5rem;
  border: none;
  height: 2rem;
  margin: 1rem 0rem;
  padding: 1.5rem;
  min-width: 95rem;
  font-size: 1.6rem;
}
.InputIcon button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 1rem 0.5rem; 
  height: 3rem; 
  padding: 0 1.5rem; 
  /* background-color: #007bff;  */
  background-color: #BDBDBD;
  color: #fff;
  font-size: 1.6rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.InputIcon button:active{
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
  background-color: #005fc5; 
}
/* .InputIcon svg{
  position: absolute;
  top: 2.8rem;
  right: 5px; 
  font-size: 20px; 
  pointer-events: none;
} */
.ContainerBotaoEditar {
  display: flex;
  justify-content: start;
  gap: 1rem;
  align-items: center;
}

.ContainerBotaoEditar button:active{
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
}
/* Estilo geral do modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro */
  z-index: 1000;
}
.modal button:active{
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
}
/* Conteúdo do modal */
.modalContent {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* Título do modal */
.modalContent h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
}

/* Estilos para os campos de entrada no modal */
.modalContent input {
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1.6rem;
}

/* Estilos dos botões dentro do modal */
.modalContent button {
  display: inline-block;
  width: 48%;
  padding: 1rem;
  margin: 0.5rem 1%;
  font-size: 1.6rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Botão "Salvar" ou "Excluir" */
.modalContent button:first-of-type {
  background-color: #4CAF50; /* Verde */
  color: white;
}

/* Botão "Cancelar" */
.modalContent button:last-of-type {
  background-color: #f44336; /* Vermelho */
  color: white;
}

/* Estilo específico para o texto de confirmação no modal de exclusão */
.modalContent p {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

/* Adicionando transições suaves para o modal */
.modalContent {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.Paginacao{
  margin: 1rem;
}