/* CSS para o menu lateral */
.menuLateral {
  min-width: 270px;
  background-color: rgb(7, 7, 59);
  padding: 2rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: fixed;
  left: 0;
}



.menuItems {
  flex: 1;
}

.menuItems a {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.menuItems a:hover {
  color: var(--purpleMain);
}

.menuItems a svg {
  font-size: 2rem;
}

.menuFooter {
  margin-top: auto;
}

.menuFooter a {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.menuFooter a:hover {
  color: var(--purpleMain);
}

.menuFooter a svg {
  font-size: 2rem;
}

/* Teste */
.logo {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

.logo svg {
  color: white;
}

.logo a {
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}

.logoTexto {
  color: white;
  font-weight: 700;
  font-size: 2rem;
}

.logoImage {
  max-width: 100%;
  height: auto;
  width: 2.5rem;
}

.Perfil {
  margin-bottom: 5rem;
}

.active {
  background-color: var(--purpleMain);
}

/* Estilo geral do modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  /* Fundo escuro */
  z-index: 9999;
}

/* Conteúdo do modal */
.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Título do modal */
.modalContent h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}

/* Estilos para os campos de entrada no modal */
.modalContent input {
  width: 100%;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1.6rem;
  background-color: rgb(236, 231, 231);
  border-radius: 0.5rem;
  border: none;
  height: 2rem;
  margin: 1rem 0rem;
  padding: 1.5rem;
}
.modalContent input:focus {
  outline: none;
}

/* Estilos dos botões dentro do modal */
.modalContent button {
  background-color: red;
  color: white;
  display: inline-block;
  width: 48%;
  padding: 1rem;
  margin: 0.5rem 1%;
  font-size: 1.6rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* Adicionando transições suaves para o modal */
.modalContent {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}