/* Estilo geral da página */
.layout {
  display: flex;
  /* margin-top: 1rem; */
}

/* Estilo do cabeçalho */
.Header {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Estilo da seção de check-in */
.checkin {
  width: 100%;
  max-width: 60rem;
  margin: 20px auto;
  padding: 2rem;
  background-color: var(--purple-300); /* Cor lilás clara */
  border-radius: 18px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: grid;
  place-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

/* Estilo do título do evento */
.checkin h1 {
  text-align: center;
  color: white;
  font-size: 32px; /* Tamanho ajustado */
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

/* Estilo da seção de cadastro */
.cadastro {
  max-width: 60rem;
  margin: 10px auto;
  border-radius: 18px;
  padding: 20px;
  background-color: var(--purpleMain); /* Cor lilás escura */
  margin-top: 10px;
  display: grid;
  place-items: center;
}

/* Estilo do título da seção de presença */
.cadastro h2 {
  text-align: center;
  color: white;
  font-size: 28px; /* Tamanho ajustado */
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

/* Estilo da lista de participantes */
.listaParticipantes {
  width: 100%;
  text-transform: uppercase;
}

.listaParticipantes h3 {
  font-size: 20px; /* Tamanho ajustado */
  color: white;
  text-align: center;
}

/* Estilo dos itens da lista de participantes */
.participanteItem {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem 0;
  background-color: #ffffff; /* Cor de fundo do item */
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px; /* Tamanho ajustado */
  width: 100%;
  max-width: 600px;
  justify-content: space-between;
}

/* Estilo do checkbox e label */
.participanteItem label {
  flex: 1;
  font-size: 16px; /* Mantido consistente */
  cursor: pointer;
  display: flex;
  align-items: center;
}

.participanteItem input[type='checkbox'] {
  margin-right: 10px;
  transform: scale(1.1); /* Tamanho ajustado */
}

.horario {
  font-size: 14px; /* Tamanho ajustado */
  margin-left: 10px;
}

/* Estilo dos botões */
.botaoCadastro {
  padding: 0.5rem 2rem;
  background-color: var(--purpleButton); /* Cor do botão */
  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 16px; /* Tamanho consistente */
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-top: 1rem;
}

.botaoCadastro:hover {
  background-color: var(--purpleMain);
}
