.html, .body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o layout ocupe pelo menos 100% da altura da viewport */
  background-color: gray; /* Ajuste a cor conforme necessário */
}

.container {
  background-color: white;
  flex: 1; /* Permite que o container cresça para ocupar o espaço disponível */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 0.1875rem 0.5rem; /* 3px = 0.1875rem */
  margin: 1rem auto; /* Ajuste a margem para garantir que o container ocupe todo o espaço disponível */
  height: 100%; /* Garante que o container ocupe toda a altura disponível */
  max-width: 95vh; /* Ajuste a largura conforme necessário */
  justify-content: space-between; /* Garante que os itens sejam distribuídos com espaço entre eles */
  position: relative; /* Necessário para posicionar os botões na parte inferior */
}

.header {
  text-align: center;
  color: var(--purpleMain);
  font-size: 3rem;
  margin-bottom: 2rem;
}

.header h1 {
  text-align: center;
  /* color: #694C9F; */
  color: var(--purpleMain);
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.paginacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem; /* Ajuste a margem superior conforme necessário */
  margin-bottom: 1rem; /* Ajuste a margem inferior conforme necessário */
  position: absolute; /* Posiciona a div de paginação na parte inferior */
  bottom: 1rem; /* Ajuste conforme necessário */
  padding: 0 2rem; /* Adiciona padding para garantir que os botões não saiam da div */
}

.numerosPagina {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.paginacao button {
  background-color: var(--purpleButton);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 2rem;
  
}

.paginacao button:hover {
  background-color: var(--purpleMain);
}

/* .paginacao button.paginaAtiva {
  background-color: var(--purpleDark);
  font-weight: bold;
} */

.checkin {
  width: 100%;
  max-width: 600px;
  color: var(--purpleMain);
  background-color: var(--purple-300);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo do cabeçalho */
.checkin h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
  text-transform: uppercase;

}

/* Estilo da seção de cadastro */

.input[type='checkbox'] {
  margin-right: 0.625rem;
  transform: scale(1.2);
}

.label {
  font-size: 2rem;
  margin-left: 0.625rem;
  cursor: pointer;
  color: inherit;
}

.containerInput {
  display: flex;
  margin-bottom: 1rem;
  background-color: var(--neutral-100);
  width: 100%;
  padding: 1rem .8rem;
  cursor: pointer;
  border-radius: .825rem;
  transition: .2s transform ease-in-out;
  border: 1px solid rgb(216, 216, 216);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: var(--purpleMain)
}

.containerInput:has(input[type="checkbox"]:checked) {
  color: var(--neutral-100);
  background-color: var(--purpleMain);
}

.cadastro h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: var(--purpleMain);
  margin-top: 10px;
}

.cadastro h3 {
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--purpleMain);
  margin-top: 5px;
}


/* Estilo do alerta */
.alerta {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 16px;
  margin: auto;
  border: 0.1rem solid var(--purpleMain);
  background-color: #8E7AB5;
  color: white;
  border-radius: 20px;
  flex-direction: column;
  max-width: 20rem;
}

.alerta p{
  font-size: 1.2rem;
  margin-block-end: .5rem;
}

.botaoSalvar:hover {
  background-color: var(--purple-300);
}

.busca {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; /* Adiciona espaço entre os botões */
  margin-top: 1rem;
}

.botaoBusca {
  background-color: var(--purpleButton);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 2rem;
}

.botaoLimpar {
  background-color: var(--purpleButton);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 2rem;
}

.botaoBusca:hover {
  background-color: var(--purpleMain);
}

.botaoLimpar:hover {
  background-color: var(--purpleMain); /* Ajuste a cor conforme necessário */
}

.busca input{
  flex: 1;
  background-color: rgb(236, 231, 231);
  border-radius: 0.7rem;
  border: none;
  height: 2rem;
  margin: 1rem 0rem;
  padding: 1.5rem;
  min-width: 95rem;
  font-size: 1.6rem;
  min-width: 70vh;
  margin-top: auto;

}


.containerContent{
  width: 100%;
}

.listaParticipantes{
  width: 100%;
}

/* Estilo da lista de participantes */
.participantes {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza a lista de participantes */
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0;
  gap: .5rem;
  width: 100%;
  text-transform: uppercase;
}

.participanteItem {
  display: flex;
  align-items: center; /* Centraliza o checkbox e o texto verticalmente */
  width: 100%; /* Garante que cada item ocupe toda a largura disponível */
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 2rem;
  background-color: white;
  color: black;
}

.participanteItem input[type="checkbox"] {
  margin-right: 10px; /* Espaçamento entre o checkbox e o texto */
  transform: scale(1.1);
  cursor: pointer;
}

.participanteItem p {
  margin: 0;
  text-align: left;
  flex: 1; /* Faz com que o texto ocupe o espaço restante */
}

/* Estilo do botão de salvar */
.botaoCadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purpleButton);
  color: #fff;  
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
  width: auto;
  font-size: 16px;
  text-align: center;
  margin: auto;
  margin-top: 10px;
}

.botaoCadastro:hover {
  background-color: var(--purpleMain);
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #6c49b8; /* Escolha a cor que desejar */
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContent {
  flex: 1; /* Isso vai garantir que o conteúdo principal ocupe o espaço correto */
}

.mensagemErro{
  margin-block-start: .5rem;
  font-size: 1.5rem;
}
