@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.layout {
  display: flex;
}


.container {
  max-width: 80rem;
  margin: 1.25rem auto;
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

/* Cabeçalho */
.header h1 {
  text-align: center;
  color: #694C9F;
  font-size: 2.25rem;
  margin-bottom: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}


.content {
  background-color: var(--purple-300);
  border-radius: 1.125rem;
  padding: 0.0625rem;
  text-align: center;
}

.content h2 {
  text-align: center;
  color: white;
  font-size: 2.25rem;
  margin-bottom: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}


.content2 {
  max-width: 60rem;
  margin: 0.625rem auto;
  border-radius: 1.125rem;
  color: white;
  padding: 1.25rem;
  background-color: var(--purpleMain);
  margin-top: 0.625rem;
  display: grid;
  place-items: center;
  text-align: center;
}

.set {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.875rem;
  padding: 1.25rem;
}


.setores {
  width: 100%;
  background-color: var(--purpleMain);
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
}


.checkbox {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.label {
  font-size: 2rem;
  color: #4b00a7;
  cursor: pointer;
  margin-left: 0.625rem;
  cursor: pointer;
}

.input[type='checkbox'] {
  margin-right: 0.625rem;
  transform: scale(1.2);
}


/* Botão */
.button {
  padding: 10px 20px;
  background-color: var(--purpleButton);
  color: white; 
  border: none; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: var(--purple-300);
}


.containerInput input {
  transform: scale(1.2);
}

.containerInput {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}


.menuLateral {
  width: 15.625rem;
  background-color: var(--purple-300);
  padding: 1.25rem;
  box-shadow: 0.125rem 0 0.3125rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 5rem);
}

.menuLateral a {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 1.25rem;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.menuLateral a:hover {
  color: var(--purpleMain);
}

.menuLateral a svg {
  font-size: 2rem;
}


.container {
  flex-grow: 1;
  padding: 2rem;
}

/* Media Queries para Responsividade */
@media (max-width: 48rem) {
  .container {
    max-width: 90%;
    padding: 0.625rem;
  }

  .header h1 {
    font-size: 8.25rem;
  }

  .content h2 {
    font-size: 5.125rem;
  }

  .set {
    font-size: 6.5rem;
  }

  .button {
    padding: 0.3125rem 0.9375rem;
    font-size: 6.875rem;
  }

  .menuLateral {
    width: 12.5rem;
  }

  .menuLateral a {
    font-size: 1.2rem;
  }
}

@media (max-width: 30rem) {
  .container {
    padding: 0.3125rem;
  }

  .header h1 {
    font-size: 1.75rem;
  }

  .content h2 {
    font-size: 1rem;
  }

  .set {
    font-size: 1.25rem; 
  }

  .button {
    margin: 5rem;
    padding: 0.3125rem 0.625rem;
    font-size: 0.75rem; 
  }

  .menuLateral {
    display: none; /* Ocultar menu lateral em telas muito pequenas */
  }

  .content2 {
    max-width: 100%; /* Ajustar conteúdo secundário para caber na tela */
  }
}
