/* Root Styles */
:root {
  background-color: #f9fafb; /* Tailwind's bg-gray-50 */
}

/* Input Styles */
input {
  padding-left: 0.5rem; /* Tailwind's px-2 */
}

/* FullCalendar custom classes */
.fc-header-toolbar {
  display: inline-block;
  padding: 4px;
  margin-left: 8px;
  margin-right: 8px;
}

.fc-day {
  margin: 2rem; /* Tailwind's m-8 */
}

.fc-scrollgrid-sync-table {
  width: 100%; /* Tailwind's w-full */
}

.fc-view {
  width: 100%; /* Tailwind's w-full */
  height: 100%; /* Tailwind's h-full */
  background-color: white; /* Tailwind's bg-white */
  
  /* Height adjustments for larger screens */
  @media (min-width: 1024px) {
    height: 75%; /* Tailwind's lg:h-3/4 */
  }

  @media (min-width: 1280px) {
    height: 66.67%; /* Tailwind's xl:h-2/3 */
  }
}

.fc-h-event {
  background-color: #7c3aed; /* Tailwind's bg-violet-500 */
  border: 1px solid #6d28d9; /* Tailwind's border-violet-600 */
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #ede9fe; /* Tailwind's bg-violet-100 */
}

.fc .fc-button {
  background-color: #5b21b6; /* Tailwind's bg-violet-800 */
}

.fc .fc-button:hover {
  background-color: #4c1d95; /* Tailwind's hover:bg-violet-900 */
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  background-color: #7c3aed; /* Tailwind's bg-violet-600 */
}

.fc .fc-button-primary:disabled {
  background-color: #7c3aed; /* Tailwind's bg-violet-600 */
}

.fc-v-event {
  background-color: #7c3aed; /* Tailwind's bg-violet-500 */
  border: 1px solid #6d28d9; /* Tailwind's border-violet-600 */
}

