
  /* Estilo do Header */
  .Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
  }
  
  /* Estilo do Relatório */
  .relatorio {
    width: 100%;
    max-width: 600px;
    color: #4a148c;
    background-color: var(--purple-300);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo do cabeçalho */
  .relatorio h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
  }
  
  /* Estilo da seção de cadastro */
  .cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    color: white;
    background-color: var(--purpleMain);
    border-radius: 20px;
    padding: 1rem;
  }
  
  .cadastro h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #ffffff;
  }
  
  /* Estilo da lista de participantes */
  .listaParticipantes {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
    width: 100%;
    max-width: 600px;
    text-transform: uppercase;
  }
  
  .lista {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    width: 100%;
  }
  
  .participanteItem {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem 0;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.5rem;
  }
  
  .participanteItem label {
    margin: 0;
    color: #333;
    flex: 1;
    text-align: left;
  }

  .botaoImprimir {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purpleButton); /* Cor principal */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    font-size: 16px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
  }

  .botaoImprimir:hover{
  background-color: var(--purpleMain);
  }
  