/* Container principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f9;
  }
  
  /* Título da página */
  .h1 {
    font-size: 2rem;
    color: #4a148c;
    margin-bottom: 20px;
    text-align: center;
  }

  .spacingButton {
    margin-right: 10px; 
}

.modal {
    background: #fff;
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
}

  
  /* Container de busca */
  .searchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 30px;
  }

  .buscarInput {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-right: 10px;
    padding: 1rem;
    width: 100%;
    max-width: 300px;
    height: 3rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0.1875rem 0.5rem;
    transition: all 0.15s ease-in-out;
  }
  
  /* Input de busca */
  .searchInput {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-left: auto; 
    margin-right: 1rem;
    padding: 1rem;
    height: 3rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0.1875rem 0.5rem;
    transition: all 0.15s ease-in-out;
  }

  .eventInfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .relatorioItem div {
    text-align: left;
}

.eventInfo {
    margin: 0;
    padding: 0.5rem 0;
}
  
  .searchInput:focus {
    border-color: #4a148c;
    outline: none;
  }
  
  /* Botão de busca */
  .searchButton {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #4a148c;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 0.2rem;
    width: auto;
    margin-right: 1.5rem;
  }
  
  .searchButton:hover {
    background-color: #7e1fff;
  }
  
  /* Container de resultados */
  .resultContainer {
    margin-top: 20px;
  }
  
  /* Lista de relatórios */
  .listaRelatorios {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .relatorioItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
  }
  
  .relatorioItem:hover {
    background-color: #f2f2f2;
  }
  
  .relatorioItem div {
    display: flex;
    flex-direction: column;
  }
  
  .relatorioItem h3 {
    font-size: 1.2rem;
    color: #4a148c;
    margin: 0;
  }
  
  .relatorioItem p {
    font-size: 0.9rem;
    color: #777;
  }
  
  /* Botão para gerar o PDF */
  .gerarPDFButton {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4a148c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 0.2rem;
  }
  
  .gerarPDFButton:hover {
    background-color: #7e1fff;
  }
  
  /* Mensagem quando não há relatórios */
  .resultContainer p {
    text-align: center;
    font-size: 1.1rem;
    color: #888;
  }
  
  /* Responsividade para telas menores */
  @media (max-width: 768px) {
    .searchContainer {
      flex-direction: column;
      align-items: center;
    }
  
    .searchInput {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .searchButton {
      width: 100%;
    }
  
    .relatorioItem {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .relatorioItem div {
      margin-bottom: 10px;
    }
  }
  