.Header {
    display: flex;
    justify-content: center;
}


.checkin {
    display: flex;
    color: var(--purpleMain);
    margin-top: 50px;
    border-radius: 20px;
    flex-direction: column;
}

.checkin h1 {
    display: flex;
    justify-content: center;
}

.cadastro {
    display: flex;
    margin-top: 10px;
    color: white;
    justify-content: center;
    background-color: var(--purpleMain);
    border-radius: 20px;
    width: 300px;
    height: 200px;
}

.cadastro h2 {
    margin-top: 10px;
}


.cadastro button {
    display: flex;
    justify-content: center;
}


.botaoCadastro {
    display: block;
    border-radius: 20px;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: var(--purpleMain);
    color: white;
    margin-top: 10px;
    width: 200px;
    height: 20px;
    cursor: pointer;
    border: none;
}